.App {
  background-color: #121212;
  ::-webkit-scrollbar {
    display: none;
  }
  .utang-summary {
    background-image: url("../public/C&S.png");
    background-color: #121212;
    background-repeat: repeat;
    background-size: cover;
    height: 15vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;

    .gab,
    .mei,
    .summary {
      flex: 3;
      border-radius: 5px;
      margin: 5px;
    }

    .gab {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        margin: 5px;
        color: rgb(216, 216, 216);
        font-size: 1em;
        font-family: ui-monospace;
        text-shadow: 2px 2px 8px #000000;
      }

      .amount {
        color: white;
        font-size: 1.3em;
        margin: 5px;
        font-family: ui-monospace;
        text-shadow: 2px 2px 8px #000000;
      }
    }
    .mei {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        margin: 5px;
        color: rgb(216, 216, 216);
        font-size: 1em;
        font-family: ui-monospace;
        text-shadow: 2px 2px 8px #000000;
      }

      .amount {
        color: white;
        font-size: 1.3em;
        margin: 5px;
        font-family: ui-monospace;
        text-shadow: 2px 2px 8px #000000;
      }
    }
    .summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .green {
        color: #69c881 !important;
      }
      .name {
        margin: 5px;
        color: rgb(216, 216, 216);
        font-size: 1em;
        font-family: ui-monospace;
        text-shadow: 2px 2px 8px #000000;
      }

      .amount {
        color: white;
        font-size: 1.3em;
        margin: 5px;
        text-shadow: 2px 2px 8px #000000;
        font-family: ui-monospace;
      }
    }
  }

  .utang-list {
    overflow: auto;
    height: auto;
    background-color: #181818;
    margin-bottom: 40vh;
    padding-top: 15vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    .no-utang {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh;
      color: rgb(181, 181, 181);
      font-family: ui-monospace;
      text-align: center;
      font-size: 0.9rem;
      background-color: #121212 !important;
    }

    .editing {
      border: 1px solid darksalmon !important;
    }
    .utang-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 100%;
      border-bottom: 0.2px solid #323232;

      .item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: ui-monospace;
      }

      .namedate {
        display: flex;
        flex-direction: column;
        justify-content: left !important;
        align-items: flex-start;

        .name {
          margin-left: 20px;
          font-size: 0.87em;
        }
        .date {
          margin-top: 5px;
          color: rgb(184, 184, 184);
          font-size: 0.5em;
          font-family: ui-monospace;
          margin-left: 20px;
        }
      }

      .view {
        display: flex;
        justify-content: flex-end;
      }
      .orange {
        color: orange !important;
        display: flex;
        justify-content: flex-end !important;
      }

      .red {
        color: tomato !important;
        display: flex;
        justify-content: flex-end !important;
      }
      .title-person {
        flex: 6;
        color: white;
        font-family: ui-monospace;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .utang-name {
          font-size: 0.87em;
          font-weight: 500;
        }
        .utang-person {
          margin-top: 5px;
          color: rgb(184, 184, 184);
          font-size: 0.5em;
          font-family: ui-monospace;
        }

        .utang-edited {
          margin-top: 5px;
          color: rgb(255, 178, 178);
          font-size: 0.5em;
          font-family: ui-monospace;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .utang-deleted {
          margin-top: 5px;
          color: tomato;
          font-size: 0.5em;
          font-family: ui-monospace;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .amount {
        color: white;
        font-size: 0.95em;
        flex: 2.5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: ui-monospace;
        text-align: center;
      }

      .check {
        flex: 2.5;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          width: 30px;
          height: 30px;
          border: none;
          border-radius: 5px;
          font-size: 30px;
          background-color: transparent;
          margin-right: 20px;
          text-align: center;
        }
      }
    }
  }

  .list-expand {
    height: auto !important;
    margin-bottom: 10vh !important;
  }

  .create-utang {
    display: flex;
    flex-direction: column;
    height: 30vh;
    position: fixed;
    bottom: 10vh;
    width: 100vw;

    .editing {
      background-color: rgba(71, 61, 139, 0.567) !important;
      -webkit-backdrop-filter: blur(20px) !important;
      backdrop-filter: blur(20px) !important;
    }

    .input-title {
      background-color: cornflowerblue;
      color: white !important;
      flex: 3;
      outline: none;
      border: none;
      border-radius: 0;
      font-size: 1em;
      text-align: center;
      font-family: ui-monospace;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      margin: 0;
      padding: 0;
      border-top-right-radius: 10px !important;
      border-top-left-radius: 10px !important;
    }

    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 1em;
      font-family: ui-monospace;
      font-weight: normal;
      color: rgb(255, 255, 255);
      font-style: italic;
    }

    .amount-person {
      flex: 3;
      display: flex;

      .amount {
        background-color: #DDACF5;
        border: none;
        flex: 3;
        color: white;
        font-size: 1em;
        width: 100%;
        border-radius: 0;
        font-family: ui-monospace;
        text-align: center;
        outline: none;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
      }

      .select {
        outline: none;
        background-color: #967ae9;
        color: white;
        flex: 3 !important;
        border: none;
        font-size: 1em;
        font-weight: normal;
        border-radius: 0;
        font-family: ui-monospace;
        text-align-last: center;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
      }

      .Gab {
        background-color: #9854CB !important;
      }

      .Mei {
        background-color: #967ae9 !important;
      }

      .category {
        background-color: #64379F;
      }
    }

    .create {
      color: white;
      flex: 3;
      border: none;
      font-size: 1em;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #69c881;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      width: 99.9%;
      margin: 0;
      padding: 0;

      .btn {
        font-size: 1em;
        font-family: ui-monospace;
        border-radius: 0;
        background-color: transparent;
        border: none;
        color: white;
        height: 100%;
        width: 100%;
      }
    }

    .confirm {
      background-color: #26ab47;
    }
  }

  .test-actions-opened {
    width: 50% !important;
  }
}
