body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Mui-selected {
  color: #7acde9 !important;
}

.MuiBottomNavigationAction-label{
  color: #7acde9 !important;
  font-family: ui-monospace !important ;
  font-size: 0.7rem !important;
  margin-top: 7px !important;
}
