body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Mui-selected {
  color: #7acde9 !important;
}

.MuiBottomNavigationAction-label {
  color: #7acde9 !important;
  font-family: ui-monospace !important ;
  font-size: 0.7rem !important;
  margin-top: 7px !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  color: white !important;
  background-color: rgba(73, 73, 73, 0.501) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  position: fixed;
}

.MuiButtonBase-root {
  font-family: ui-monospace !important;
}

.MuiInputBase-root {
  outline: none !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}
