body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  ::-webkit-scrollbar {
    display: none !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Mui-selected {
  color: #20b2aa !important;
}

.MuiBottomNavigationAction-label {
  color: #20b2aa !important;
  font-family: ui-monospace, SF Mono !important ;
  font-size: 0.7rem !important;
  margin-top: 7px !important;
}

.MuiMenu-paper {
  color: white !important;
  background-color: rgba(73, 73, 73, 0.501) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  position: fixed;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.MuiButtonBase-root {
  font-family: ui-monospace, SF Mono !important;
}

.MuiInputBase-root {
  outline: none !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.MuiMenuItem-root {
  justify-content: center !important;
}

.Mui-selected {
  background: none !important;
}
